default_language_version:
  python: python3.9
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.2.0
    hooks:
      - id: check-yaml
        args:
          - '--unsafe'
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude_types:
          - markdown
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-merge-conflict
      - id: no-commit-to-branch
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-docstring-first
  - repo: 'https://github.com/adrienverge/yamllint'
    rev: v1.26.3
    hooks:
      - id: yamllint
        args:
          - '-d {extends: default, rules: {line-length: disable, document-start: disable}}'
          - '-s'
  - repo: 'https://github.com/MarcoGorelli/absolufy-imports'
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
  - repo: 'https://github.com/hadialqattan/pycln'
    rev: v1.3.3
    hooks:
      - id: pycln
        args:
          - '--all'
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args:
          - '--profile'
          - black
          - '--atomic'
          - '--line-length'
          - '99'
          - '--python-version'
          - '39'
  - repo: 'https://github.com/psf/black'
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - '--line-length=99'
          - '--target-version=py39'
      - id: black
        alias: black-check
        stages:
          - manual
        args:
          - '--line-length=99'
          - '--target-version=py39'
          - '--check'
          - '--diff'
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
        args:
          - '--max-line-length=99'
      - id: flake8
        args:
          - '--max-line-length=99'
        alias: flake8-check
        stages:
          - manual
  - repo: 'https://github.com/pre-commit/mirrors-mypy'
    rev: v0.960
    hooks:
      - id: mypy
        args:
          - '--show-error-codes'
          - '--ignore-missing-imports'
        files: '^dbt/adapters'
      - id: mypy
        alias: mypy-check
        stages:
          - manual
        args:
          - '--show-error-codes'
          - '--pretty'
          - '--ignore-missing-imports'
        files: '^dbt/adapters'
