SQLSERVER_TEST_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TEST_HOST=127.0.0.1
SQLSERVER_TEST_USER=sa
SQLSERVER_TEST_PASS=L0calTesting!
SQLSERVER_TEST_PORT=1433
SQLSERVER_TEST_DBNAME=msdb
SQLSERVER_TEST_ENCRYPT=True
SQLSERVER_TEST_TRUST_CERT=True
DBT_TEST_USER_1=DBT_TEST_USER_1
DBT_TEST_USER_2=DBT_TEST_USER_2
DBT_TEST_USER_3=DBT_TEST_USER_3
