FABRIC_TEST_DRIVER=ODBC Driver 18 for SQL Server
FABRIC_TEST_HOST=127.0.0.1
FABRIC_TEST_USER=SA
FABRIC_TEST_PASS=L0calTesting!
FABRIC_TEST_PORT=1433
FABRIC_TEST_DBNAME=TestDB
FABRIC_TEST_ENCRYPT=True
SQLSERVER_TEST_TRUST_CERT=True
